ForumWebApplicationClient/src/conf/xml-resources/web-service-references/ForumService/wsdl/localhost_8084/ForumWebApplication/ForumService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://forumService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://forumService/" name="ForumService">
<types>
<xsd:schema>
<xsd:import namespace="http://forumService/" schemaLocation="http://localhost:8084/ForumWebApplication/ForumService?xsd=1" />
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<message name="addTopic">
<part name="parameters" element="tns:addTopic" />
</message>
<message name="addTopicResponse">
<part name="parameters" element="tns:addTopicResponse" />
</message>
<message name="loginUser">
<part name="parameters" element="tns:loginUser" />
</message>
<message name="loginUserResponse">
<part name="parameters" element="tns:loginUserResponse" />
</message>
<message name="registerUser">
<part name="parameters" element="tns:registerUser" />
</message>
<message name="registerUserResponse">
<part name="parameters" element="tns:registerUserResponse" />
</message>
<message name="retrieveTopics">
<part name="parameters" element="tns:retrieveTopics" />
</message>
<message name="retrieveTopicsResponse">
<part name="parameters" element="tns:retrieveTopicsResponse" />
</message>
<portType name="ForumService">
<operation name="hello">
<input wsam:Action="http://forumService/ForumService/helloRequest" message="tns:hello" />
<output wsam:Action="http://forumService/ForumService/helloResponse" message="tns:helloResponse" />
</operation>
<operation name="addTopic">
<input wsam:Action="http://forumService/ForumService/addTopicRequest" message="tns:addTopic" />
<output wsam:Action="http://forumService/ForumService/addTopicResponse" message="tns:addTopicResponse" />
</operation>
<operation name="loginUser">
<input wsam:Action="http://forumService/ForumService/loginUserRequest" message="tns:loginUser" />
<output wsam:Action="http://forumService/ForumService/loginUserResponse" message="tns:loginUserResponse" />
</operation>
<operation name="registerUser">
<input wsam:Action="http://forumService/ForumService/registerUserRequest" message="tns:registerUser" />
<output wsam:Action="http://forumService/ForumService/registerUserResponse" message="tns:registerUserResponse" />
</operation>
<operation name="retrieveTopics">
<input wsam:Action="http://forumService/ForumService/retrieveTopicsRequest" message="tns:retrieveTopics" />
<output wsam:Action="http://forumService/ForumService/retrieveTopicsResponse" message="tns:retrieveTopicsResponse" />
</operation>
</portType>
<binding name="ForumServicePortBinding" type="tns:ForumService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addTopic">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="loginUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="registerUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="retrieveTopics">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ForumService">
<port name="ForumServicePort" binding="tns:ForumServicePortBinding">
<soap:address location="http://localhost:8084/ForumWebApplication/ForumService" />
</port>
</service>
</definitions>